.banner_main {
    background: #eae9e4;
    padding: 20px 0px 90px 0px;
  }
  
  .text-bg h1 {
    color: rgb(9, 67, 95);
    font-size: 90px;
    line-height: 80px;
    padding-bottom: 15px;
    font-weight: bold;
  }
  
  .text-bg p {
    color: rgb(9, 67, 95);
    font-size: 17px;
    line-height: 30px;
    padding: 25px 0px 60px 0px;
  }
  
  .main_form {
    padding: 60px 50px 80px 50px;
    background: rgb(9, 67, 95);
    border-radius: 10px;
    border-top: #3bb19b solid 15px;
  }
  
  .main_form .contactus {
    border: inherit;
    margin-bottom: 70px;
    width: 100%;
    height: 45px;
    background: transparent;
    color: #fbfaf8;
    font-size: 16px;
    font-weight: 400;
    border-radius: inherit;
    border-bottom: #fff solid 1px;
  }
  
  .main_form .textarea {
    border: #f6c2d7 solid 1px;
    padding: 0px 19px;
    margin-bottom: 20px;
    width: 100%;
    background: transparent;
    color: #f5bed2;
    font-size: 16px;
    font-weight: 500;
    border-radius: 15px;
    padding-top: 35px;
  }
  
  .main_form .send_btn {
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: #000;
    color: #fff;
    padding: 13px 0px;
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 35px;
  }
  
  .main_form .send_btn:hover {
    background-color: #3bb19b;
    transition: ease-in all 0.5s;
    color: #000;
  }
  
  #request *::placeholder {
    color: #fbfaf8;
    opacity: 1;
  }
  
  /** end banner section **/
  
  .titlepage {
    text-align: center;
    padding-bottom: 60px;
  }
  
  .titlepage h2 {
    font-size: 45px;
    color: rgb(9, 67, 95);
    line-height: 55px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  
  .d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .yellow {
    color: #f6b219;
    font-weight: bold;
  }
  
  .read_more {
    font-size: 17px;
    background-color: #000;
    color: #fff;
    padding: 13px 0px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
  }
  
  .read_more:hover {
    background: #3bb19b;
    color: #000;
    transition: ease-in all 0.5s;
  }
  
  /** food section **/
  
  .food {
    background: #fff;
    margin: 90px 0;
  }
  
  .titlepage span {
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    font-weight: 501;
    display: block;
    padding: 0px 49px;
  }
  
  .food_box {
    text-align: center;
    background: rgb(9, 67, 95);
    margin-bottom: 30px;
    margin-top: 116px;
    padding: 0px 30px 30px 30px;
  }
  
  .food_box:hover {
    background: #3bb19b !important;
  }
  
  .food_box i img {
    margin-top: -116px;
  }
  
  .food_box h4 {
    font-family: "Noto Serif", serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 501;
    padding-top: 30px;
    padding-bottom: 0;
    color: #fff;
    padding-bottom: 10px;
  }
  
  .food_box p {
    color: #fff;
    font-size: 17px;
    line-height: 33px;
  }
  
  /** end food section **/
  
  /** works section **/
  
  .works {
    background: #fff;
    margin: 90px 0;
  }
  
  .works .titlepage h2 {
    padding-bottom: 0;
  }
  
  .works .titlepage span {
    font-size: 17px;
    line-height: 30px;
    color: #b3b1a6;
    font-weight: 501;
    display: block;
  }
  
  .works .works_box {
    margin-top: 30px;
    background: #3bb19b;
    margin-bottom: 30px;
    padding: 0px 30px 30px 30px;
    border-radius: 0px 60px 0px 60px;
    transition: ease-in all 0.5s;
  }
  
  .works .works_box h4 {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
    background: rgb(9, 67, 95);
    width: 80px;
    text-align: center;
    border-radius: 50px;
    height: 80px;
    padding-top: 26px;
    margin-left: -50px;
    margin-top: -30px;
    position: absolute;
  }
  
  .works .works_box p {
    color: #fff;
    font-size: 17px;
    line-height: 33px;
    text-align: justify;
    padding-top: 60px;
  }
  
  #white_bg:hover.works_box {
    background: #eae9e4 !important;
    border-radius: 40px 0px 40px 0px;
    transition: ease-in all 0.5s;
  }
  
  #white_bg:hover.works_box p {
    color: #000;
  }
  
  #white_bg:hover.works_box h4 {
    background: #190707;
  }
  
  /** end works section **/
  
  /** clients section **/
  
  .clients {
    padding: 90px 0 141px 0;
    background: rgb(9, 67, 95);
  }
  
  .padding_lert {
    max-width: 666px;
    float: right;
    width: 100%;
  }
  
  .clients .titlepage {
    padding-bottom: 20px;
    text-align: left;
  }
  
  .clients .titlepage h2 {
    color: #fff;
  }
  
  .clients_Carousel .carousel-caption {
    position: inherit;
    padding: 0;
  }
  
  .clients_box {
    text-align: center;
  }
  
  .test_box {
    padding: 30px 25px 35px 25px;
    background: #fff;
  }
  
  .clients_Carousel .test_box h4 {
    font-size: 20px;
    color: #eda911;
    line-height: 18px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 80px 0 0 0;
  }
  
  .clients_Carousel .imga figure {
    margin: 0;
  }
  
  .clients_Carousel .imga figure img {
    margin-bottom: -80px;
  }
  
  .clients_Carousel .test_box p {
    font-size: 17px;
    line-height: 28px;
    color: #3c3c3d;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  
  .clients_Carousel .carousel-indicators {
    bottom: -50px;
  }
  
  .clients_Carousel .carousel-indicators li {
    width: 20px;
    height: 20px;
    background: #eda911;
    border-radius: 10px;
  }
  
  .clients_Carousel .carousel-indicators li.active {
    background: #fffefe;
  }
  
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none;
  }
  
  .clients_imgfood {
    padding-right: 40px;
  }
  
  .clients_imgfood figure {
    margin: 0;
  }
  
  .clients_imgfood figure img {
    width: 100%;
  }
  
  /** end clients section **/
  
  /** footer **/
  
  .footer {
    background: #fff;
    padding-top: 85px;
    text-align: center;
  }
  
  .footer .titlepage {
    text-align: left;
    padding-bottom: 10px;
  }
  
  .footer .titlepage h2 {
    color: #e95d49;
  }
  
  .cont {
    text-align: center;
  }
  
  .cont h3 {
    color: #0e0d0d;
    font-size: 45px;
    line-height: 66px;
    font-weight: 600;
  }
  
  .cont p {
    color: #3bb19b;
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    font-weight: 501;
    padding-bottom: 35px;
  }
  
  .sub_btn {
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: #000;
    color: #fff;
    width: 100%;
    display: block;
    font-weight: 500;
    border-radius: 35px;
    border: #fff solid 4px;
    padding: 13px 0px;
    max-width: 200px;
    margin: 0 auto;
  }
  
  .sub_btn:hover {
    background-color: #3bb19b;
    transition: ease-in all 0.5s;
    color: #fff;
  }
  
  .copyright {
    margin-top: 90px;
    padding: 20px 0px;
    background-color: rgb(9, 67, 95);
  }
  
  .copyright p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  
  .copyright a {
    color: #fff;
  }
  
  .copyright a:hover {
    color: #3bb19b;
  }


  .navbar {
    width: 100%;
    height: 70px;
    background-color: #3bb19b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    z-index:2;
  }
  
  .navbar h1 {
    color: white;
    font-size: 25px;
    margin-left: 20px;
  }
  
  .white_btn {
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: white;
    border-radius: 20px;
    width: 120px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .bullets {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
  }
  .bullets:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 60%;
  }
  .bullets {
    width: 45%;
    display: inline-flex;
    justify-content: space-evenly;
  }
  .bullets .bullet {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    background: #004056;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
  }
  .bullet.active {
    background: lightgreen;
    color: black;
    border: 2px solid black;
  }
  
  .bullet a{
      text-decoration: none;
      color: black;
  }
  
  .navbar .nav-link {
    padding: 0 25px;
    color: black;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .navbar .nav-link:focus,
  .navbar .nav-link:hover {
    color: rgb(9, 67, 95) !important;
  }
  
  /** end footer **/
  